<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div>
    <a class="navbar-brand" href="#">Navbar</a>
    <a class="navbar-brand" style="padding-left:1000px;" href="login">Login</a>
    <a class="navbar-brand" href="profile"  style="flex-direction: column;">Profile</a>
  </div>
   
   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
     
    </div>
  </nav>
